<h2 class="eventmanager-heading">{{heading}}</h2>

{{#canmanage}}
    <a href="{{newurl}}" class="btn btn-primary mb-3">{{newevent}}</a>
{{/canmanage}}

{{#events}}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="">
                <tr>
                    <th>Event Title</th>
                    <th>Event Date</th>
                    {{#canmanage}}<th>Actions</th>{{/canmanage}}
                </tr>
            </thead>
            <tbody>
                {{#list}}
                    <tr>
                        <td><a href="{{viewurl}}">{{title}}</a></td>
                        <td>{{eventdate}}</td>
                        {{#canmanage}}
                            <td>
                                <a href="{{editurl}}" class="btn btn-sm btn-secondary">Edit</a>
                                <a href="{{deleteurl}}" class="btn btn-sm btn-danger delete-event">Delete</a>
                            </td>
                        {{/canmanage}}
                    </tr>
                {{/list}}
            </tbody>
        </table>
    </div>
{{/events}}

{{^events}}
    <div class="alert alert-info">No events found.</div>
{{/events}}
